[global]
fetch = 10
interval = 90
ooniprobe = /path/to/ooniprobe
args = blocking/http_requests

# dev settings for vagrant
#[api]
#host=localhost
#port=8080
#version=api/1.2
#https=False

[api]
host=api.blocked.org.uk
port=443
version=1.2
https=True

[probe]
uuid = 0af883bffe3e883011f2d9382eb90a26
secret = fkx8E8C6EmL36WOchQhgevHCMu1E3UJifgqT

