[amqp]
userid=guest
password=guest
host=api.blocked.org.uk

[api]
host=api.blocked.org.uk
https=true
port=80
version=1.2

[global]
interval=2
oonipath=/ooni/bin/ooniprobe
nettest=blocking/http_requests

[probe]
queue=org
qos=15
uuid=
secret=
##public_ip=

[environment]
PYTHONPATH=/ooni
