[amqp]
userid=guest
password=guest
host=api.blocked.org.uk

[api]
host=api.blocked.org.uk
https=true
port=443
version=1.2
verify=true

[global]
interval=2
oonipath=/ooni/bin/ooniprobe
nettest=blocking/http_requests
nettest_args=

[probe]
queue=org
qos=15
uuid=
secret=
##public_ip=
##override_network=

[environment]
PYTHONPATH=/ooni
